In [ ]:
l=[1,2,3,4,5,6,7,8,9]

In [ ]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in l:
    print(i+1)

2
3
4
5
6
7
8
9
10

In [ ]:
for i in l:
    print(i*i)

1
4
9
16
25
36
49
64
81

In [ ]:
for i in l:
    print(i*i*i)

1
8
27
64
125
216
343
512
729

In [ ]:
s="euron"
for i in s:
    print(i)

e
u
r
o
n

In [ ]:
s="This is the data science course"
for i in s: 
    print(i)

T
h
i
s

i
s

t
h
e

d
a
t
a

s
c
i
e
n
c
e

c
o
u
r
s
e

In [ ]:
s={4,5,6,7,8,7,8,6,5,4,3,2,3,1,0}
for i in s:
    print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
d={"name":"euron","class":"python","mentor":"sudhanshu kumar"}

In [ ]:
d.keys()

dict_keys(['name', 'class', 'mentor'])

In [ ]:
d.values()

dict_values(['euron', 'python', 'sudhanshu kumar'])

In [ ]:
for i in d:
    print(i)

name
class
mentor

In [ ]:
for i in d.keys():
    print(i)

name
class
mentor

In [ ]:
for i in d.values():
    print(i)

euron
python
sudhanshu kumar

In [ ]:
for i in d.items():
    print(i)

('name', 'euron')
('class', 'python')
('mentor', 'sudhanshu kumar')

In [ ]:
for i,j in d.items():
    print(i,j)

name euron
class python
mentor sudhanshu kumar

In [ ]:
l=["euron",4,5,6,7,8,34,56.45,True,"sudh",False,5+7j]

In [ ]:
for i in l:
    if type(i) == str:
        print(i)

euron
sudh

In [ ]:
l1=[]
for i in l:
    if type(i)==str:
        l1.append(i)

In [ ]:
l1

['euron', 'sudh']

In [ ]:
l=["euron",4,5,6,7,8,34,56.45,True,"sudh",False,5+7j]

In [ ]:
l_str=[]
l_int=[]
l_float=[]
l_bool=[]
l_extra=[]

for i in l:
    if type(i)==str:
        l_str.append(i)
    elif type(i)==int:
        l_int.append(i)
    elif type(i)==bool:
        l_bool.append(i)
    elif type(i)==float:
        l_float.append(i)
    else:
        l_extra.append(i)

In [ ]:
l_str

['euron', 'sudh']

In [ ]:
l_int

[4, 5, 6, 7, 8, 34]

In [ ]:
l_bool

[True, False]

In [ ]:
l_float

[56.45]

In [ ]:
l_extra

[(5+7j)]

In [ ]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [ ]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
for i in string.ascii_letters:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [ ]:
range(6)

range(0, 6)

In [ ]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
# Fibonacci series
a=0
b=1
limit=10

for i in range(10):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [88]:
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [91]:
row=20
for i in range(row+1):
    print("deepu " * i)

deepu
deepu deepu
deepu deepu deepu
deepu deepu deepu deepu
deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu
deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu deepu