In [1]:
print("This is the lecture on operations with data types")

This is the lecture on operations with data types

In [2]:
s={}

In [3]:
type(s)

dict

In [8]:
s1={4,2,3,3,3,3,5,6,7,8,9,0}

In [9]:
type(s1)

set

In [10]:
s1

{0, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s2={4,5,56,6,7,45.67,45+7j,"sudh",True}

In [12]:
type(s2)

set

In [13]:
s2

{(45+7j), 4, 45.67, 5, 56, 6, 7, True, 'sudh'}

In [ ]:
l2=list(s2)

In [15]:
l2

[True, (45+7j), 'sudh', 4, 5, 6, 7, 45.67, 56]

In [16]:
l2[0]

True

In [17]:
l4=[1,1,2,3,3,4,4,4,5,5,6,6,7,7,8,8,8,8]

In [18]:
l4

[1, 1, 2, 3, 3, 4, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 8, 8]

In [19]:
s4=set(l4)

In [20]:
s4

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
l5=list(s4)

In [23]:
l5

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
d={"name":"sudhanshu","class":"python class 8.45 AM IST"}

In [25]:
d

{'name': 'sudhanshu', 'class': 'python class 8.45 AM IST'}

In [28]:
d['name']

'sudhanshu'

In [29]:
d['class']

'python class 8.45 AM IST'

In [33]:
d1={0:[1,2,3,4,5],"xyz":{1,1,1,1,1},True:[2,2,2,2,2,3],"company name":"euron","class":["python hindi and english","gen ai hindi and english","MLops eng"]}

In [34]:
d1

{0: [1, 2, 3, 4, 5],
 'xyz': {1},
 True: [2, 2, 2, 2, 2, 3],
 'company name': 'euron',
 'class': ['python hindi and english',
  'gen ai hindi and english',
  'MLops eng']}

In [41]:
d1 = {
    0: [1, 2, 3, 4, 5],
    "xyz": {1, 1, 1, 1, 1},
    True: [2, 2, 2, 2, 2, 3],
    "company name": "euron",
    "class": ["python hindi and english", "gen ai hindi and english", "MLops eng"],
    "xyz":"sudhanshu"
}

In [42]:
d1

{0: [1, 2, 3, 4, 5],
 'xyz': 'sudhanshu',
 True: [2, 2, 2, 2, 2, 3],
 'company name': 'euron',
 'class': ['python hindi and english',
  'gen ai hindi and english',
  'MLops eng']}

In [40]:
d1["xyz"]

'sudhanshu'

In [43]:
d1=["deepu"]

In [44]:
d1

['deepu']

In [45]:
s="euron"

In [47]:
s.capitalize()

'Euron'

In [48]:
s.casefold()

'euron'

In [50]:
s.center(50)

'                      euron                       '

In [52]:
s.center(50,"&")

'&&&&&&&&&&&&&&&&&&&&&&euron&&&&&&&&&&&&&&&&&&&&&&&'

In [54]:
s

'euron'

In [55]:
s.count('e')

1

In [56]:
s.count('u')

1

In [58]:
s.isalnum()

True

In [59]:
l=[1,2,3,4,5,6,"euron",True]

In [60]:
l.append([1,2,3,4])

In [63]:
l

[1, 2, 3, 4, 5, 6, 'euron', True, [1, 2, 3, 4]]

In [64]:
l.clear()

In [65]:
l

[]

In [74]:
l=[1, 2, 3, 4, 5, 6, "euron", True, [1, 2, 3, 4]]

In [80]:
l

[1, 2, 3, 4, 5, 6, 'euron', True, [1, 2, 3, 4]]

In [75]:
l1=[1, 2, 3, 4, 5, 6, "euron", True, [1, 2, 3, 4]]

In [81]:
l1

[1, 2, 3, 4, 5, 6, 'euron', True, [1, 2, 3, 4]]

In [78]:
l2=l1.copy()

In [79]:
l2

[1, 2, 3, 4, 5, 6, 'euron', True, [1, 2, 3, 4]]

In [84]:
l2.extend("7")

In [85]:
l2

[1, 2, 3, 4, 5, 6, 'euron', True, [1, 2, 3, 4], '7']

In [86]:
l2.index(3)

2

In [87]:
l2.index("euron")

6

In [88]:
l2.pop()

'7'

In [89]:
l2

[1, 2, 3, 4, 5, 6, 'euron', True, [1, 2, 3, 4]]

In [90]:
l2.pop()

[1, 2, 3, 4]

In [91]:
l2

[1, 2, 3, 4, 5, 6, 'euron', True]

In [92]:
l2.pop(0)

1

In [93]:
l2

[2, 3, 4, 5, 6, 'euron', True]

In [94]:
l2.pop(5)

'euron'

In [95]:
l2

[2, 3, 4, 5, 6, True]

In [98]:
l2.remove(True)

In [99]:
l2

[2, 3, 4, 5, 6]

In [101]:
l2.remove(2)

In [102]:
l2

[3, 4, 5, 6]

In [103]:
l2.append("sudhanshu")

In [104]:
l2

[3, 4, 5, 6, 'sudhanshu']

In [105]:
l2.insert(2,"Deepu")

In [106]:
l2

[3, 4, 'Deepu', 5, 6, 'sudhanshu']

In [107]:
l2.insert(5,[1,2,3,4,5])

In [108]:
l2

[3, 4, 'Deepu', 5, 6, [1, 2, 3, 4, 5], 'sudhanshu']

In [112]:
l2.reverse()

In [113]:
l2

['sudhanshu', [1, 2, 3, 4, 5], 6, 5, 'Deepu', 4, 3]

In [115]:
l3=[1,23,4.35,53,5667,432567]

In [117]:
l3

[1, 23, 4.35, 53, 5667, 432567]

In [120]:
l3.sort()

In [121]:
l3

[1, 4.35, 23, 53, 5667, 432567]

In [122]:
s2

{(45+7j), 4, 45.67, 5, 56, 6, 7, True, 'sudh'}

In [123]:
s2.add(2233)

In [124]:
s2

{(45+7j), 2233, 4, 45.67, 5, 56, 6, 7, True, 'sudh'}

In [125]:
s2.clear()

In [126]:
s2

set()

In [127]:
d1

['deepu']

In [130]:
d2 =  {
    0: [1, 2, 3, 4, 5],
    "xyz": {1, 1, 1, 1, 1},
    True: [2, 2, 2, 2, 2, 3],
    "company name": "euron",
    "class": ["python hindi and english", "gen ai hindi and english", "MLops eng"],
    "abc": "sudhanshu",
}

In [131]:
d2

{0: [1, 2, 3, 4, 5],
 'xyz': {1},
 True: [2, 2, 2, 2, 2, 3],
 'company name': 'euron',
 'class': ['python hindi and english',
  'gen ai hindi and english',
  'MLops eng'],
 'abc': 'sudhanshu'}

In [132]:
d2.pop()

TypeError: pop expected at least 1 argument, got 0

In [133]:
d2.popitem()

('abc', 'sudhanshu')

In [135]:
d2.update({"compnay":"Microsoft"})

In [136]:
d2

{0: [1, 2, 3, 4, 5],
 'xyz': {1},
 True: [2, 2, 2, 2, 2, 3],
 'company name': 'euron',
 'class': ['python hindi and english',
  'gen ai hindi and english',
  'MLops eng'],
 'compnay': 'Microsoft'}

In [137]:
d2.keys()

dict_keys([0, 'xyz', True, 'company name', 'class', 'compnay'])

In [138]:
d2.items()

dict_items([(0, [1, 2, 3, 4, 5]), ('xyz', {1}), (True, [2, 2, 2, 2, 2, 3]), ('company name', 'euron'), ('class', ['python hindi and english', 'gen ai hindi and english', 'MLops eng']), ('compnay', 'Microsoft')])