In [12]:
def test():
    pass

In [13]:
def test1():
    print("This is my function 1")

In [15]:
test1()

This is my function 1

In [16]:
def test2(a,b):
    print(a,b)

In [17]:
test2(1,2)

1 2

In [18]:
test2([1,2,3,4,5],"sudh")

[1, 2, 3, 4, 5] sudh

In [19]:
def test3(a,b,c,d,e):
    print(a,b,c,d,e)

In [21]:
test3(1,2,3,4,5)

1 2 3 4 5

In [23]:
def test4(a):
    print(a)

In [26]:
test4(1)

1

In [30]:
type(test4(4))

4

NoneType

In [28]:
print("This is the python class")

This is the python class

In [29]:
type(print("This is the python class"))

This is the python class

NoneType

In [31]:
def test5(a,b):
    return a+b

In [33]:
test5(1,3)

4

In [34]:
type(test5(1,3))

int

In [36]:
test5("sudhanshu" , "kumar")

'sudhanshukumar'

In [37]:
type(test5("sudhanshu" , "kumar"))

str

In [38]:
def test6(a,b,c,d,e,f,g,h,i):
    pass

In [39]:
def test7(*args):
    return args

In [40]:
test7(1,2,3,4,5,6,7,8,9,0)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [41]:
def test8(*sudh):
    return sum(sudh)

In [42]:
test8(1,2,3,4,5,6,7,8,9)

45

In [43]:
def test9(**kwargs):
    return kwargs

In [44]:
test9(name="sudhanshu",company="euron",city="delhi")

{'name': 'sudhanshu', 'company': 'euron', 'city': 'delhi'}

In [52]:
def  test8():
 return "sudh" , [1,2,3,4,5] , (6,7,8,9,0)

In [53]:
test8()

('sudh', [1, 2, 3, 4, 5], (6, 7, 8, 9, 0))

In [54]:
a,b,c=test8()

In [55]:
a

'sudh'

In [56]:
b

[1, 2, 3, 4, 5]

In [57]:
c

(6, 7, 8, 9, 0)

In [58]:
def test10():
    """This is my test10 function created by sudhanshu kumar in python englihs
    class o 21st of dec thinking it is just a test function to teach my students about the doc string"""

    return 124

In [59]:
test10

In [60]:
def test11(a,b):
    return a+b

In [61]:
lambda a,b : a+b

In [62]:
a=lambda a,b : a+b

In [64]:
a(1,3)

4

In [ ]:
l1=[1,2,3,4,5,6,7,8]

In [79]:
l2=[]
for i in l1:
    l2.append(i*i)

In [80]:
l2

[1, 16, 81, 256, 625, 1296, 2401, 4096]

In [82]:
list(map(lambda x:x**2,l1))

[1, 16, 81, 256, 625, 1296, 2401, 4096]

In [85]:
def squ(x):
    return x*x

In [86]:
squ(5)

25

In [87]:
l3=[4,4,5,6,7,8,9,9,9,9]
l1_odd=[]
for i in l:
    if i%2!=0:
        l1_odd.append(i)

In [88]:
l1_odd

[1, 3, 5, 7]

In [89]:
list(filter(lambda x:x%2 !=0,l))

[1, 3, 5, 7]

In [90]:
from functools import reduce

In [92]:
sum(l3)

70

In [95]:
reduce(lambda x,y:x+y,l3)

70

In [96]:
def fact(n):
    if n==0 or n==1:
        return 1
    return  n*fact(n-1)

In [ ]:
fact(5)

120

In [98]:
s="Sudhnashu"

In [102]:
s[::-1]

'uhsanhduS'

In [2]:
def string_rev(s):
    if len(s) == 0:
        return ""
    return s[-1] + string_rev(s[:-1])

In [3]:
string_rev("euron")

'norue'