In [1]:
t1=()
print(t1)

()

In [3]:
t2=('hello')
print(t2)
print(type(t2))

hello
<class 'str'>

In [4]:
t2=('hello',)
print(t2)
print(type(t2))

('hello',)
<class 'tuple'>

In [7]:
t3=('hello', 'world', 2024, 3.14, True) 
print(t3)
print(type(t3))

t4=(1,2,3,"deepu",("Helo","world", 33))
print(t4)
print(type(t4))

# typecasting list to tuple
t=tuple("hello")
print(t)

('hello', 'world', 2024, 3.14, True)
<class 'tuple'>
(1, 2, 3, 'deepu', ('Helo', 'world', 33))
<class 'tuple'>
('h', 'e', 'l', 'l', 'o')

In [14]:
t3=(1,2,3,4,5,6,'hello', 'world', 2024, 3.14, True)
print(t3[0])
print(t3[6][0])
print(t3[-1])

1
h
True

In [28]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)

t1+t2
t1*3

for i in t1: 
    print(i*3)

3
6
9
12
15

In [31]:
t1=(1,2,3,4,5)

print(len(t1))
print(max(t1))
print(sum(t1))
print(min(t1))
print(sorted(t1))

5
5
15
1
[1, 2, 3, 4, 5]

In [32]:
# count 
print(t1.count(3))

1

In [34]:
# Set 

s={}
print(s)
print(type(s))

{}
<class 'dict'>

In [35]:
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [ ]:
s1={1,2,3,4,5,5,5,5,5} # duplicates not allowed
print(s1)

{1, 2, 3, 4, 5}

In [ ]:
s1={1,2,3,"hello",True}
s1

{1, 2, 3, 'hello'}

In [40]:
# set cant have mutable items  
s2={1,2,4,[3,4,5],'deep'}

TypeError: unhashable type: 'list'

In [41]:
s1={1,2,3}
s2={3,2,1}

print(s1==s2)

True

In [42]:
s={1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [44]:
s={1,2,3,4,5}
s.update([6,7])
s

{1, 2, 3, 4, 5, 6, 7}

In [2]:
# dicitonary 
d={}
print(d)
type(d)

{}

dict

In [4]:
d1={'name':'deepu','address':'kerala'}
d1

{'name': 'deepu', 'address': 'kerala'}

In [5]:
d2={'name':'deepu', 'age':30, 'address':'banglore'}
print(d2)

{'name': 'deepu', 'age': 30, 'address': 'banglore'}

In [6]:
d={
    'name':'deepu',
    'college':'xyz',
    'address':'kerala',
    'subjects':{
        'sub1':'maths',
        'sub2':'science',
        'sub3':'english'
    }
}

In [ ]:
a=dict([(1,2),(3,4),(5,6)])
a

{1: 2, 3: 4, 5: 6}

In [10]:
d={
    'name':'deepu',
    'college':'xyz',
    'address':'kerala',
    'subjects':{
        'sub1':'maths',
        'sub2':'science',
        'sub3':'english'
    }
}

d['name']

'deepu'

In [11]:
d.get('college')

'xyz'

In [12]:
d.pop('address')

'kerala'

In [13]:
d

{'name': 'deepu',
 'college': 'xyz',
 'subjects': {'sub1': 'maths', 'sub2': 'science', 'sub3': 'english'}}

In [16]:
d['address']='banglore'

In [17]:
d

{'name': 'deepu',
 'college': 'xyz',
 'subjects': {'sub1': 'maths', 'sub2': 'science', 'sub3': 'english'},
 'address': 'banglore'}