In [17]:
# python is a case sensitive language 
print("Hello world ")

Hello world

In [18]:
print("salman khan ")

salman khan

In [19]:
print(salman khan)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1115953987.py, line 1)

In [ ]:
print(4)

4

In [ ]:
print(7.7)

7.7

In [ ]:
print(True)

True

In [ ]:
print("hello" , 1, 1.12, False)

hello 1 1.12 False

In [ ]:
print("hello" , 1, 1.12, False, sep="----")

hello----1----1.12----False

In [ ]:
print("hello")
print("World")

hello
World

In [ ]:
print("Hello",end="-")
print("world")

Hello-world

In [ ]:
# integer
print(1323)

1323

In [ ]:
print(1e308)

1e+308

In [ ]:
print(1e309)

inf

In [ ]:
print(9.43)

9.43

In [ ]:
print(1.4e308)

1.4e+308

In [ ]:
print(1.34e309)

inf

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
# Text 
print("hello world")

hello world

In [ ]:
# complex number 
print(3+1j)

(3+1j)

In [ ]:
# list - > arrays jaisa hota h 
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple - > immutable list jaisa hota h
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets -> unique items ka collection hota h
print({1,2,3,4,5}) 
print({1,2,2,3,3,2,2,1,3,4,5})

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#  Dictionary -> key value pairs ka collection hota h
print({"name":"salman","age":56,"is_actor":True})

{'name': 'salman', 'age': 56, 'is_actor': True}

In [ ]:
a=2
a

2

In [ ]:
a=1
b=12
print(a+b)

13

In [ ]:
name = "deepu"

In [ ]:
a=1
b=2
c=3

print(a,b,c)

1 2 3

In [ ]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=1
print(a,b,c)

1 1 1

In [ ]:
# Identifiers
_=10
print(_)
my_var=5
my_var1=20

print(my_var)
print(my_var1)  # error because python is case sensitive language

10
5
20

In [ ]:
# Summation of two numbers
a = input("Enter a : ")
b=input("Enter b: ")
result = int(a)+int(b)
print("The input is : ", result)

The input is :  34

In [ ]:
# Implicit Type Conversion  - > automatic type conversion
print(5+5.6)
print(type(5))
print(type(5.6))

10.6
<class 'int'>
<class 'float'>

In [21]:
# string -> int 
type(int('4'))
type(int(4.5))
# type(int(4+1j))

# int -> str
str(3)

'3'